//////////////// COLOURS ////////////////

$primaryColor: #00d197;
$primaryLightColor: #00eba8;
$primaryLightColorV2: #f4fffb;
$primaryDarkColor: #00b682;

$secondaryColor: #12426a;
$secondaryLightColorV2: #f2f9ff;
$thirdColor: #0083ad;
$fourthColor: #00515e;

$whiteColor: white;
$blackColor: black;

// Grays
$grayColor: gray;

$lightGrayColor: #dbdbdb;
$lightGrayColorV2: #ebebeb;

$darkGrayColor: #c6c6c6;
$darkGrayColorV2: #cfcfcf;
